
body {
  background-color: #393E46;
  }

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.play1{
  visibility: hidden;
}
.play2{
  visibility: hidden;
}
.cont_hold {
  width: 70%;
  margin: auto;
  text-align: center;
  background-color:inherit;
}

.card {
  text-align: center;
  display: inline-block;

}
.img1{
  width: 220px;
  height: 300px;
}
.selCard{
  width: 150px;
  height:200px;
  border-style: none;
}

.plyCard{
  width: 150px;
  height:200px;
  border-style: none;
}
.img2{
  width:130px;
  height:200px;
}
